nav.navbar
    a(class='navbar__brand' href='/')
        img.logo(src="images/logo.png")
    .navbar__collapse
        ul.navbar__nav
            li.nav-item
                a.nav-link(href="#") Услуги
            li.nav-item
                a.nav-link(href="#") Наши работы
            li.nav-item
                a.nav-link(href="#") Наши модели
            li.nav-item
                a.nav-link(href="#") О нас
            li.nav-item
                a.nav-link(href="#") Вакансии
            li.nav-item
                a.nav-link(href="#") Контакты

    .navbar__call-us
        a.phone(href="tel:88001236554") 8 800 123-65-54
        a.call-btn.link-btn-o(href="#") заказать звонок
