.hero
    .container-o
        h1.hero__title Проведем ваш праздник под ключ!
        .hero__text Подберем любой персонал и организуем мероприятия любой сложности.
        button.button-o.hero__btn Заказать персонал
        a.hero__read-more Узнать больше
        .hero__pagination
            .hero__pagination-item Промоутеры
            .hero__pagination-item Промо модели
            .hero__pagination-item Стендистки
            .hero__pagination-item Консультанты
            .hero__pagination-item Хостес
