.hero
    .container-o
        h1.hero__title Проведем ваш праздник под ключ!
        .hero__text Подберем любой персонал и организуем мероприятия любой сложности.
        +action('Заказать персонал')
        .hero__pagination
            a.hero__pagination-item(href="#") Промоутеры
            a.hero__pagination-item(href="#") Промо модели
            a.hero__pagination-item(href="#") Стендистки
            a.hero__pagination-item(href="#") Консультанты
            a.hero__pagination-item(href="#") Хостес
