.calculator {
  &__wrapper {
    padding: 75px 60px 65px;
    border-radius: 25px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.06);
  }

  select,
  input {
    height: 70px;
    background-color: #f3f3f3;
    font-family: Circe, sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
  }
}
