section.about
    .container-o
        h2 Кто мы такие?
        .description-o.about__description С 2006 года MAXIMALLLS активно занимается организацией бизнес-мероприятий по
            | системе M.I.C.E. Качество нашей работы отмечают зарубежные коллеги, нас ценят и уважают,
            | нам доверяют реализацию самых сложных с точки зрения организации проектов.
        .about__list
            .about__list-item.about__list-item-1
                span 10
                | лет работы
            .about__list-item.about__list-item-2
                span 34
                | городов присутствия
            .about__list-item.about__list-item-3
                span 1011
                | проведено мероприятий
            .about__list-item.about__list-item-4
                span 543
                | позитивных промоутеров
