section.services
    .container-o
        h2 Наши услуги:
        .services__list
            .services__list-item Промоутеры
            .services__list-item Модели
            .services__list-item Стендистки
            .services__list-item Консультанты
            .services__list-item Хостес
        .services__description
            img.services__image(src="images/services-bg.png" alt)
            .services__description-list
                h3.services__item-title Наши промоутеры:
                .services__description-item Позитивны и улыбчивы
                .services__description-item Не стоят на месте
                .services__description-item Всегда помогут!
                .services__action
                    +action('Заказать промоутеров')
