extends pug/components/layout/layout
include pug/mixins

block content
    include pug/components/header/header
    include pug/components/about/about
    include pug/components/services/services
    include pug/components/calculator/calculator

