//colors
$accents-color: #ff591f;
$accents-color-light: #ffcd33;

$container-width: 1170px;

$default-font-size: 16px; // used for html tag

$h1-font: 3.875rem;
$h2-font: 3.4375rem;
$h3-font: 3.125rem;
$h4-font: 3rem;
$h5-font: 1.5625rem;
$h6-font: 1rem;

