*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666
}
body input:required:valid,
body textarea:required:valid {
	color: #666
}

//Custom Styles Here
@import "variables";
@import "global";
@import "components/header/header";
@import "components/header/header-top";
@import "components/header/hero";
@import "components/about/about";
@import "components/services/services";
@import "components/calculator/calculator";

//ALWAYS END
@import "media";
